@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    background-image: url(https://images2.alphacoders.com/532/532525.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
button {
    border-radius: 0.5em;
    padding: 1em;
    text-transform: uppercase;
}

hr {
    height: 5px;
    width: 35%;
    background-color: white;
  }

img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

section.arriba {
    display: flex;
    justify-content: flex-end;
}

section.medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.abajo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

button#uno {
    background-color: rgb(92, 33, 107);
    color: white;
    border-color:  rgb(41, 95, 211);
}

button#dos{
    background-color: rgb(26, 35, 126);
    color: white;
    border-color: rgb(26, 35, 126);
}

button#tres{
    background-color: rgb(119, 25, 77);
    color: white;
    border-color: rgb(119, 25, 77);
}

button {
    background-color: transparent;
    border-color: transparent;
}