/*$color_primario: #007c91;
$color_secundario: blue;
$color_texto: #fff;


$border_color: #111;
$estilo_border: 1px $border_color;

$margen: 8px;*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


$fondo: url(https://images2.alphacoders.com/532/532525.jpg);
$tamaño_fondo: 100% 100%;

$color: white;
$tipo_letra: 'Lobster', cursive;
$tam_letras_inicio: 50px;

$color_link:rgb(124, 189, 250);
$relasaltado_link: none;

$diseño_borde: 1em;
$padding: 1em;
$text_boton: uppercase;

$altohr: 5px;
$anchohr: 35%;

$anchoimg: 55px;
$altoimg: 55px;
$img_redondo: 100%;


$b_color1: rgb(92, 33, 107);
$b_color2: rgb(26, 35, 126);
$b_color3: rgb(119, 25, 77);
$b_color4: transparent;

$flex: flex;
$final:flex-end;
$medio: center;
$abajo: space-between;

